<div class="container">
    <h1 class="mt-4 text-center">Silvia Rego Miniño</h1>
    <p class="lead text-center">Desarrolladora de aplicaciones multiplataforma.</p>
  
    <div class="row mt-4">
      <div class="col-md-6">
        <h2>Educación</h2>
        <br>
        <ul>
          <li><strong>TÉCNICO SUPERIOR EN DESARROLLO DE APLICACIONES MULTIPLATAFORMA (DAM), IES Leliadoura (2022 - 2024):</strong></li>
          <ul>Prácticas en SOLUTIONS30, abril-junio 2024</ul>
        </ul>
        <ul>
          <li><strong>TÉCNICO SUPERIOR EN ESTÉTICA, IES Lamas de Abade (2009 - 2011):</strong></li>
          <ul>Terapeuta especialista en tratamientos de Estética en LORYGAR S.L. (2011-2022)</ul>
        </ul>
      </div>
    </div>
  </div>
