<div class="container">
    <h1 class="mt-4 text-center">Silvia Rego Miniño</h1>
    <p class="lead text-center">Desarrolladora de aplicaciones multiplataforma.</p>
  
    <div class="row mt-4">
      <div class="col-md-6">
        <h2>Experiencia Laboral</h2>
        <br>
        <ul>
          <li>Estudiante en Prácticas en SOLUTIONS30, abril-junio 2024
          </li>
          <li>Técnico especialista en tratamientos de estética, Hotel A Quinta da Auga, LORYGAR S.L. (2012-2022)
          </li>
        </ul>
        
      </div>
    </div>
  
    
  </div>
