<div class="container">
  <h1 class="mt-4 text-center">Silvia Rego Miniño</h1>
  <p class="lead text-center">
    Desarrolladora de aplicaciones multiplataforma.
  </p>
  <div class="row mt-4">
    <div class="col-md-6">
      <h2>Competencias digitales</h2>
      <br />
      <h5>Entornos de desarrollo</h5>
      <ul>
        <li>Visual Studio Code (VSC)</li>
        <li>Android (Android Studio)</li>
        <li>IntelliJ IDEs</li>
      </ul>
      <h5>Frameworks</h5>
      <ul>
        <li>Spring Boot</li>
        <li>Angular 18</li>
        <li>Laravel</li>
      </ul>
      <h5>Lenguajes de Programación</h5>
      <ul>
        <li>PHP</li>
        <li>Phyton</li>
        <li>Java</li>
        <li>Pascal</li>
      </ul>

      <h5>Tecnologías web</h5>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Bootstrap</li>
      </ul>
      <h5>Bases de Datos</h5>
      <ul>
        <li>MySQL</li>
        <li>PostgreSQL</li>
      </ul>
    </div>
  </div>
</div>
