<div class="container">
  <h1 class="mt-4 text-center">Silvia Rego Miniño</h1>
  <p class="lead text-center">
    Desarrolladora de aplicaciones multiplataforma.
  </p>
  <br />
  <p class="text-justify">
    Hola, soy Silvia! <br />Recientemente he completado el Ciclo Superior en
    Desarrollo de Aplicaciones Multiplataforma (DAM) en el IES Leliadoura. Estoy
    emocionada por la oportunidad de unirme a vuestro equipo y contribuir a
    proyectos innovadores. Aunque no tengo experiencia laboral en el mundo de la
    informática, he realizado prácticas no remuneradas en Solutions30, lo que me
    ha permitido aplicar mis conocimientos en un entorno real. Además, durante
    10 años trabajé como terapeuta en el Hotel A Quinta da Auga, donde
    desarrollé habilidades interpersonales y una gran capacidad de adaptación.
    Estoy entusiasmada por la posibilidad de aprender y crecer en el ámbito
    tecnológico, y estoy segura de que podré aplicar mis habilidades y aportar
    nuevas ideas que enriquecerán vuestros proyectos.
  </p>

  <div class="row mt-4">
    <div class="col-md-6">
      <h2 class="text-center">
        <a routerLink="/personal">Información Personal</a>
      </h2>
    </div>
    <div class="col-md-6">
      <h2 class="text-center"><a routerLink="/experience">Experiencia</a></h2>
    </div>
    <div class="col-md-6">
      <h2 class="text-center"><a routerLink="/education">Educación</a></h2>
    </div>
    <div class="col-md-6">
      <h2 class="text-center"><a routerLink="/skills">Habilidades</a></h2>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
